<%- include('../partials/header') %>
<main>
    <section class="cart" >
        <h2>Your are shopping</h2>

         <div class="cart-item" >
            <img src="/images/product2.jpg">
            <div class="cart-details" >
                <h3>Cat Lamp</h3>
                <p>Price: $39.99</p>
                <p>Quantity: 2</p>
            </div>
            <button class="btn remove" >Remove </button>
        </div>

        <div class="cart-summary">
      <h3>Total: $109.97</h3>
      <a href="/checkout" class="btn checkout">Proceed to Checkout</a>
    </div>
    </section>
</main>

<%- include('../partials/footer') %>